fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
fastapi-mail
openai-whisper
yt-dlp
pydub
rich
langchain-chroma
langchain-community
langchain-core
langchain-mistralai
langchain-text-splitters
chromadb
sentence-transformers
python-multipart
